.PokeList {
  text-transform: capitalize;
  margin-bottom: 25px;
  &-Img {
    width: 64px;
    vertical-align: middle;
    margin: -0.75rem 0.75rem -0.75rem -1.25rem;
  }
  &Item {
    position: relative;
    .fa-check-square {
      position: absolute;
      font-size: 20pt;
      right: 15px;
      top: 50%;
      margin-top: -10pt;
      color: #f90;
    }
  }
}
